@use './reset';

@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

body {
  background: #3082c54d;
}

#root {
  width: min(400px, 100vw);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackObliqueA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: normal, bold;
  font-style: normal;
}

// 네이버 지도 marker
.map_marker {
  display: flex;
  flex-direction: column;

  .map_marker__title {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .map_marker__icon {
    font-size: 30px;
    font-family: 'TossFace';
  }

  &.main {
    .map_marker__title {
      background-color: #f65c77;
      color: #fff;
    }
  }

  &.sub {
    .map_marker__title {
      background-color: #40aaff;
      color: #fff;
    }
  }
}
