@use '../../assets/scss/variables' as v;

.calendar_container {
  width: 100%;
  height: 100%;
  background-color: v.$BACKGROUND_MAIN;
  padding: 40px 20px;
  color: v.$WHITE;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.calendar {
  width: calc(100% - 60px);
  margin: 0 auto;

  .calendar_header {
    width: 100%;
    margin-bottom: 40px;
  }

  .calendar_body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 40px);

    > div {
      position: relative;

      p {
        font-size: 14px;
        position: relative;
        z-index: 2;
        line-height: 40px;
      }

      &.calendar_special_day {
        color: v.$BACKGROUND_MAIN;

        &:before {
          content: '';
          position: absolute;
          top: 1px;
          left: 3px;
          width: 36px;
          height: 36px;
          background-color: v.$WHITE;
          border-radius: 50%;
        }
      }
    }
  }
}
